:root {
  /* ----  Start Color Scheme  ---- */

  --blue-light: rgb(153, 230, 255);
  --blue: rgb(0, 167, 225);
  --blue-dark: rgb(0, 31, 41);

  --black: rgb(18, 19, 15);
  --white: rgb(245, 246, 244);
  --white-trans: rgba(245, 246, 244, .75);

  --green-light: rgb(209, 243, 206);
  --green: rgb(96, 212, 80);
  --green-dark: rgb(5, 16, 4);

  --yellow-light: rgb(251, 235, 177);
  --yellow: rgb(254, 204, 4);
  --yellow-dark: rgb(39, 31, 2);

  --pink-light: rgb(252, 197, 225);
  --pink: rgb(149, 9, 82);
  --pink-dark: rgb(39, 2, 22);

 /* ----  End Color Scheme  ---- */
 /* ----  Start Font Scheme  ---- */

  --headline: "Permanent Marker", cursive;
  --subheading: "Andika", sans-serif;
  --paragraph: "Montserrat", sans-serif;

 /* ----  End Font Scheme  ---- */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-margin-top: 8rem;  /* -------- added this because of the sticky nav bar clicking on a scroll navbar link made the section scroll to the top of the page (behind the sticky nav bar) ------------- */
}

body {
  width: 100%;  /*  ---- IMPORTANT ---- Added the overflow property to keep items in nav bar from flowing out of the screen, then changed header width to 100% INSTEAD of 100vw which brought the margins inside of the page scroll bar. ----------------------------------------  */
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(110% 100% at 0% 0% , var(--yellow-light) 12.5%, var(--blue), var(--blue-dark) 90%);
  z-index: -1;
}

.headline {
  font-family: var(--headline);
}

.subheading {
  font-family: var(--subheading);
}

/* ---- Start NAVBAR  ---- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 8rem;
  padding:.25rem 3rem .9rem 3rem;
  position: sticky;
  top: 0;
  background: radial-gradient(110% 100% at 0% 0% , var(--yellow-light) 12.5%, var(--blue), var(--blue-dark) 90%);
  background-size: 100vw 100vh;
  z-index: 2;
}

.header-img {
  color: var(--yellow);
  font-family: var(--headline);
  font-size: 3.25rem;
  justify-self: left;
  background: var(--yellow-dark);
  padding: 1.55rem;
  border-radius: 100%;
}

header a:hover {
  transform: scale(1.05);
}

header.phone {
  justify-self: center;
  text-align: center;
  transition: transform .4s ease-out;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-self: flex-end;
  flex-wrap: wrap;
  column-gap: 4rem;
  transition: transform .4s ease-out;
}


  /* ---- for nav - link decoration ---- */
header a {
  text-decoration: none;
  font-family: var(--subheading);
  font-size: 2.25rem;
  color: var(--yellow);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .75);
  font-weight: bold;
}

/* ---- End Navbar ---- */
/* ---- Start Welcome Section ----*/

section#welcome {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3vw 0;
}

#headline-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-container {
  border-radius: 1rem;
  margin-left: 3rem;
}

h1 {
  width: 100%;
  font-size: 6.5rem;
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px 4px var(--black);
}

#img-container {
  position: relative;
}

#welcome-img {
  position: absolute;
  width: 40rem;
}

#welcome-gif {
  position: relative;
  width: 40rem;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
}

.hero-img {
  height: 35vh;
  object-fit: contain;
  border-radius: 45%;
}

#subtitle {
  display: absolute;
  font-size: 3rem;
  font-weight: 800;
  color: var(--yellow);
  text-shadow: 1px 1px var(--black);
  transform-origin: top-left;
  rotate: 23deg; 
  translate: 6rem -30rem;
}

/* ---- End Welcome Section ---- */
/* ---- Start ABOUT section ---- */

.underline {
  text-decoration: underline;
}

.key-point {
  background: var(--blue);
  padding: 1.35rem;
  border-radius: .55rem;
  margin: 1rem 0;
}

#about {
  width: 100%;
  padding: 5vh 0 5vh 0;
  display: grid;
  grid-template-columns: minmax(3%, calc(calc(100% - 1249px) / 2)) minmax(min-content, 3fr) minmax(3%, calc(calc(100% - 1249px) / 2));  /* ---- this is the grid that establishes content position on the page ---- */
  grid-template-rows: min-content, min-content;
}

#about .head-wrap {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background: var(--white-trans);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#about img {
  width: 33%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 1px 1px 3px var(--blue-dark);
}

#about-title {
  width: 60%;
  font-size: 6rem;
  color: var(--blue-dark);
  text-shadow: 4px 4px 5px var(--blue-light);
}

#about #main-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: repeat(7, min-content);
  row-gap: 2rem;
  background: var(--white-trans);
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#about .subheading {
  font-size: 2.3rem;
  font-weight: bold;
}

#about .text-content {
  column-width: 24rem;
  text-align: justify;
  font-size: 1.6rem;
  font-family: var(--paragraph);
}

#about p:not([class="block-quote"], :first-of-type) {
  margin-top: 1.1rem;
}

.block-quote {
  color: var(--yellow);
  font-style: italic;
  font-weight: bold;
  text-shadow: .5px .5px 1px var(--yellow-dark);
  padding: 1.4rem;
}

.block-quote::before {
  content: '" '
}

.block-quote::after {
  content: ' "'
}

hr {
  border-color: var(--green-dark)
}

hr:first-of-type {
  margin-top: 1.4rem;
}

hr:nth-of-type(2) {
  margin-bottom: 1.4rem;
}

/* ---- End About section ---- */
/* ---- Start Scroll Stopper ---- */

.scroll-stopper {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--yellow);
  color: var(--green-dark);
  box-shadow: 0 0 5px var(--yellow-dark);
  text-align: center;
  overflow: hidden;
  font-family: var(--subheading);
}

.scroll-stopper h3 {
  font-size: 2.75rem;
}

.scroll-stopper ul {
  position: relative;
  left: 100vw;
  font-size: 2.5rem;
  margin: 4rem 0;
  font-family: var(--paragraph);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.scroll-stopper ul li {
  position: absolute;
  left: 0;
  width: max-content;
  list-style: none;
}

.scroll-stopper ul li {
  animation: scroll-left 8250ms infinite linear;
}

.scroll-stopper ul li i {
  font-size: .75rem;
  line-height: 2.5rem;
  vertical-align: middle;
  color: var(--yellow-dark)
}

/* ---- End Scroll Stopper ---- */
/* ---- Start PROJECTS section ---- */

#projects {
  display: grid;
  grid-template-columns: minmax(3%, calc(calc(100% - 1249px) / 2)) minmax(min-content, 3fr) minmax(3%, calc(calc(100% - 1249px) / 2));  /* ---- this grid layout establishes a grid setup to allow for two outer columns as spacers, and a center column for content NOTE: need another grid container in the center for the content blocks themselves ---- */  
  grid-template-rows: max-content, max-content;
  padding: 3vh 0 3vh 0;
}

.section-heading {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 5rem;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--black);
}

.project-links-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-tile {
  max-width: 350px;
  min-width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: min-content;    /* ---- this solved my problem of having the conatiner show up as a different size than the content. ---- */
  text-decoration: none;
  box-shadow: 0 0 3px var(--white-trans);
  border-radius: 5px;
  transition: transform .4s ease-out;
  margin: 2rem;
}

.project-tile:hover {
  transform: scale(1.1);
}

.project-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.project-title {
  background: linear-gradient(var(--blue-light), var(--blue)8%, var(--blue)85%, var(--blue-dark));
  color: var(--white);
  font-weight: bold;
  font-size: 2.3rem;
  font-family: var(--subheading);
  text-align: center;
  width: 100%;
  padding: 3px 0 3px 0;
}

.project-description {
  background: var(--blue-dark);
  color: var(--blue);
  width: 100%;
  border-radius: 0 0 5px 5px;
  text-align: center;
  padding: .5rem;
  font-family: var(--paragraph);
  font-size: 1rem;
  font-weight: 500;
}

/* ---- End Projects section ---- */
/* ---- Start CONTACT section ---- */

#contact {
  width: 100%;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact h2 {
  font-size: 7rem;
  margin: 2rem 0 0 0;
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px 2px var(--blue-dark);
}

#contact .subheading {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
  color: var(--yellow);
  text-shadow: 1px 1px 2px var(--yellow-dark);
}

#contact-links {
  margin: 15rem 3vw 0 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color4);
  transition: transform .4s ease-out;  /* ---- this is causing a transition back to normal after behing hovered.  The hover effect by itself is too choppy. ---- */
}

#contact a:hover {
  transform: scale(1.1) translatey(1rem);
}

#contact img {
  height: 3.75rem;
  width: auto;
}

#contact-link-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 4rem;
}

#contact-link-container img {
  height: 6rem;
}

/* ---- End contact section ---- */
/* ---- Start FOOTER section ---- */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5vw 1rem 5vw;
  border-top: 1px solid var(--white)
  /* background: linear-gradient(var(--color7), var(--color2) 8%, var(--color7)8%); */
}

footer p {
  font-size: 1rem;
  color: var(--white);
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 1.25rem;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

/* ---- End footer section ---- */
/* ---- Start Media rules ---- */

@media only screen and (width < 768px) {  /* ---- "only" - this is a keyword that prevents older browsers from trying to read the css within the media rule the older browser isn't compatible with the media rule and therefore will not read the css within the rule ---- */

  /* ---- HEADER ---- */  
  .header-img {
    font-size: 3rem;
  }
  header a {
    font-size: 2rem;
  }
  header nav {
    column-gap: 2.2rem;
  }

  /* ---- ABOUT ---- */
  #about-title {
    font-size: 4rem;
  }
  #about article:not(.subheading) {
    font-size: 1.4rem;
  }
  #about .subheading {
    font-size: 1.8rem;
  }

  /* ---- PROJECTS ---- */
  .project-links-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* ---- CONTACT ---- */
  #contact h2 {
    font-size: 6rem;
  }    
}

/* ---- End Media rules ---- */
/* ---- Start animations ---- */

@keyframes rotate {
  10%, 15% {
    transform: rotate(90deg); 
  }
  25%, 30% {
    transform: rotate(-45deg);
  }
  35%, 40% {
    transform: rotate(180deg);
  }
  50%, 55% {
    transform: rotate(-90deg); 
  }
  65%, 70% {
    transform: rotate(240deg);
  }
  80%, 85% {
    transform: rotate(-240deg);
  }
  95% {
    transform: rotate(0deg);
  }
}


@keyframes slide-up {
  0% {
    translate: 0 ;
  }
}

@keyframes scroll-left {
  100% {
    translate: -3000px 0;
  }
}

/* ---- End animations ---- */